/* @import url("https://fonts.googleapis.com/css2?family=Licorice&family=Pacifico&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Licorice&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

.text-continair {
  width: 100%;
  height: 100vh;
  position: relative;
  /* top: -40vh; */
  z-index: 20;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  text-align: center;
  color: azure;

  /* color: blueviolet; */
}

.word-continair {
  display: inline-block;
  text-shadow: 0 0 3px #000000;
  /* margin-left: 30px; */
}

.text-continair > .word-continair:nth-child(1) {
  /* color: rgb(11, 244, 30); */
  margin-left: 0px;
}

.text-continair .sc-bwzfXH {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  /* font-family: "Licorice", cursive; */
  font-family: "Galada", cursive;
  font-style: normal;
  text-align: center;
  /* color: #ff1744; */
  color: rgb(17 255 154);
  text-shadow: 2px 2px 7px #000000;

  /* background: #ff1744;
  background: linear-gradient(to bottom, #ff1744 37%, #f48fb1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.T2 {
  width: 100%;
  height: 3.4vh;
  margin: 0px;
  padding: 0px;
  /* background-color: blueviolet; */
  /* background-color: red; */
  /* border: 1px solid black; */
}

.T2 .sc-bwzfXH {
  /* font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal; */

  /* font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal; */
  /* font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal; */
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.498);
  color: aliceblue;
}

.T8 {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.T8 .sc-bwzfXH {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.498);
  color: aliceblue;
}

small {
  font-size: small;
}
